@import url("https://fonts.googleapis.com/css2?family=Manufacturing+Consent&family=Modern+Antiqua&display=swap");

@import "tailwindcss";
@plugin "@tailwindcss/typography";

@font-face {
  font-family: "Malevolent";
  src: url("/fonts/MalevolentFreeRegular-q2o61.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.modern-antiqua-regular {
  font-family: "Modern Antiqua", serif;
  font-weight: 400;
  font-style: normal;
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.prose {
  line-height: 1.4;
}

:root {
  --color-deep-forest-green: #553b08;
  --color-forest-green: #553b08;
  --color-forest-floor-brown: #553b08;
  --color-sandy: #553b08;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Modern Antiqua", serif;
  /* background: linear-gradient(135deg, #111827 0%, #1F2937 50%, #111827 100%); */
  background-color: #e9e5cd;
  color: var(--color-forest-floor-brown);
  background-attachment: fixed;
  overflow-x: hidden;
}

p {
  color: var(--color-forest-floor-brown);
  font-family: "Modern Antiqua", serif;
}
a {
  color: var(--color-sandy);
  text-decoration: none;
}
a:hover {
  color: var(--color-forest-green);
}
h3 {
  color: var(--color-forest-floor-brown);
  font-family: "Malevolent", sans-serif;
}
h1 {
  color: var(--color-forest-floor-brown);
  font-family: "Malevolent", sans-serif;
}
h2 {
  color: var(--color-forest-floor-brown);
  font-family: "Malevolent", sans-serif;
}

li {
  color: var(--color-forest-floor-brown);
  font-family: "Modern Antiqua", serif;
}
/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #111827;
}

::-webkit-scrollbar-thumb {
  background: #06b6d4;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0891b2;
}
