---
import AboutMe from "../ui/AboutMe.astro";
---

<div class="flex flex-col items-center justify-center mt-5">
  <div class="sm:w-[50%] w-full flex flex-col">
    <div
      class="text-lg sm:text-2xl font-medium sm:font-light self-center sm:self-start"
    >
      austin
    </div>
    <div class="flex flex-col sm:flex-row flex-wrap">
      <div class="flex-1 h-auto overflow-hidden">
        <AboutMe />
      </div>
    </div>
    <div class="w-full bg-black h-0.5"></div>
  </div>
</div>
