---
// No props needed
---

<!-- Bottom Buttons under terminal -->
<div class="flex flex-row gap-2 justify-end">
  <a
    href="https://github.com/c0dev1king"
    target="_blank"
    rel="noopener noreferrer"
    class="px-3 py-1.5 text-xs font-mono inline-flex items-center justify-center"
  >
    <img src="/github.svg" alt="GitHub" class="w-12 h-12" />
  </a>
  <a
    href="https://www.linkedin.com/in/austin-higgins-90b550141/"
    target="_blank"
    rel="noopener noreferrer"
    class="px-3 py-1.5 text-xs font-mono inline-flex items-center justify-center"
  >
    <img src="/linkedin.svg" alt="GitHub" class="w-12 h-12" />
  </a>
</div>
